@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid " id="container">
        <div class="panel panel-danger">
            <div class="panel panel-heading">Access Denied </div>
            <div class="panel-body">

                <h3 style="color:red"><strong>Access Denied !!</strong> Please Login first to access this page</h3>
                </div>
            </div>
        </div>
</body>
</html>
