@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized Error</title>
</head>
<body>
    <hgroup>
        <h3 style="color:red">
            Unauthorized Error
        </h3>
        <h5>You donot have the permission to access this page. Kindly contact with your admin.</h5>
    </hgroup>
</body>
</html>