@model IMS_IMS_MODEL.AssetDetailsModel
@{
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}

<style type="text/css" media="print,screen">


    .theader {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        height: 35px;
        width: auto;
        padding: 5px;
    }

    .header {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 25px;
        color: black;
    }

    .divbg {
        background-color: #EADFAB;
    }
   

   
</style>
<html>
<head>
    <title></title>
</head>
<body>
    <input type="button" value="Print" id="btnPrint" class="btn btn-primary pull-right"  />
   
    <a href="http://203.153.42.244:8082/Admin/ShowAssetDetail" class="btn btn-primary pull-right"  >Cancel</a>
    <div class="well">
        <div class="container" id="PrintableArea">

            <div id="pageheader">
                <p style="text-align:center;"> <img style="height:100px;width:100px;" src="~/Image/gmda_logo_trans.png" alt="Gmda_logo" /></p>
                <h3 style="text-align:center">Gurugram Metropolitan Development Authority</h3>
                <h5 style="text-align:center">Plot No.- 03, Sector-44, Gurugram</h5>
                <hr noshade="2px" style="width:auto; height:2px" />

            </div>
            <br />
            <h5>The following hardware is issued to me:</h5>
            <br /><br />
            <div class="panel panel-primary">
                <div class="panel panel-heading">Details</div>
                <div class="panel-body">

                    <div class="col-md-6 divbg" style="border:1px solid grey; padding:15px;width:700px">

                        <table class="table-striped table-bordered theader" id="MydataTable" style="background-color:white; width:100%; ">
                            <caption style="text-align:left; font-size:medium;color:black;font-weight:700;background-color:beige;padding:5px">Personal Details</caption>
                            <thead>

                                <tr>
                                    <th class="header">Employee Id</th>
                                    <th class="header">Name</th>
                                    <th class="header">Email</th>
                                    <th class="header">Department</th>
                                    <th class="header">Designation</th>
                                    <th class="header">Mobile</th>


                                </tr>

                            </thead>
                            <tbody id="tbodyID"></tbody>
                        </table>
                    </div>
                    <br />

                    <div class="col-md-12 divbg" style="border:1px solid grey; padding:15px" id="divtable1">
                        <table class="table-striped table-bordered theader" id="MydataTable1" style="background-color:white;width:100%;">
                            <caption style="text-align:left; font-size:medium;color:black;font-weight:700;background-color:beige;padding:5px">Asset Details</caption>
                            <thead>
                                <tr>
                                    <th class="header">ID</th>
                                    <th class="header">Asset Type</th>
                                    <th class="header">Serial No</th>

                                    <th class="header">MAC/IMEI</th>

                                </tr>
                            </thead>
                            <tbody id="tbody1"></tbody>
                        </table>

                    </div>


                </div>


                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/images/circle-3.gif" width="70" />
                </div>
            </div>
            <br />
            <div id="pagefooter">
               
                <h6 style="text-align:left">Date: </h6><h6 style="text-align:right">(Signature)</h6>

            </div>
        </div>
    </div>
    <br />

</body>
</html>


<script>

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
      
        var ErpID = getUrlVars()["ErpID"];
      
        $.ajax({

            type: "GET",
            url: "http://203.153.42.244:8082/Admin/GetDetailsPrint1/?ErpID=" + ErpID,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: { ErpID: ErpID },
            success: function (data) {



                $("#MydataTable").show();
                $("#MydataTable1").show();
                $("#divtable").show();
                $("#divtable1").show();


                // $('#blogTable tbody').empty();
                var row = "";
                var row1 = "";

                // var data1 = "";
                $.each(data, function (index, item) {

                    row = "<tr><td>" + item.ErpId + "</td><td>" + item.EmpName + "</td><td>" + item.Email + "</td><td>" + item.Department + "</td><td>" + item.Designation + "</td><td>" + item.Mobile + "</td></tr>";

                    row1 += "<tr><td>" + item.AssetId + "</td><td>" + item.AssetName + "</td><td>" + item.SerialNo + "</td><td>" + item.MacId + "</td></tr>";
                    //data1 = item.AssetName;

                });
                $("#MydataTable tbody").append(row);
                $("#MydataTable1 tbody").append(row1);

                // window.location = "/Admin/GetDetailsPrint/";

                $("#loaderDiv").hide();

            },
            error: function (error) {
                alert('error; ' + eval(error));

            }
        });

    });


    $("#btnPrint").click(function () {
        var printContents = document.getElementById("PrintableArea").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = "<html><head><title></title></head><body>" + printContents + "</body>";
        window.print();
        document.body.innerHTML = originalContents;
       
        window.print();

    });

   
</script>
