@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal Server Error</title>
</head>
<body>
    <hgroup>
        <h3 style="color:red">Internal Server Error</h3>
        <h5>Some Internal Server error Occurred while processing your request. Kindly try after some time.</h5>
    </hgroup>
</body>
</html>